.loadMoreBtn {
  border-radius: 8px;
  background-color: #626aa5;
  border: transparent;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  padding: 7px 25px;
  margin: 0 auto;
  display: block;

} 

    
    
    
    
    